@charset "utf-8";

#mName{
    width:200px; 
    height:30px;
}

#gName{
    width:200px; 
    height:30px;
}

#description{
    width:200px; 
    height:50px;
}

#cDate{
    width:200px; 
    height:30px;
}

#dDate{
    width:200px; 
    height:30px;
}

#pvp{
    width:200px; 
    height:30px;
}

#pvo{
    width:200px; 
    height:30px;
}

#lucro{
    width:200px; 
    height:30px;
}

#selec{
    width:200px; 
    height:30px; 
    margin-left:-5px;
}

#cant{
    width:200px; 
    height:30px;
}

#tramp{
    width:200px; 
    height:30px;
}

#btnsav{
    float:right; 
    margin-right:10px;
}

#btns{
    width:267px;
}
