@charset "utf-8";

#impr{
    width: 700px; 
    font-size:11px; 
    font-family:arial; 
    font-weight:normal;
}

#since{
    width: 223px; 
    padding:14px;
}

#until{
    width: 223px; 
    padding:14px;
}

#btnb{
    margin-top: -19px; 
    margin-bottom: 21px;
}

#btnback{
    float: none;
}

#find{
    width: 123px; 
    height:35px; 
    margin-top:-8px;
}

#btnimpr{
    width: 123px; 
    height:35px; 
    margin-top:-2px; 
    float:right;
}

#report{
    font-weight:bold; 
    text-align:center;
    font-size:14px;
    margin-bottom: 15px;
}

#resultTable{
    text-align: left;
}

.tot{
    border-top:1px solid #999999
}